@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --body-color: #f8f6f4;
  --text-color: #404742;
  --paragraph-text-color: #5e5e5e;
  --box-color: #eff0ef;
  --green-hover-color: #1fa84f;
}
body {
  font-family: "Outfit", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--body-color) !important;
  overflow-x: hidden;
}

.home-section .excellent-it-section .excellent-it-content h1,
.home-section .services-section .services-section-content h1,
.home-section .it-services-section .it-services-content h1,
.home-section .it-experience-section .it-experience-content h1,
.home-section
  .it-experience-section
  .it-experience-content
  .progress-bar-content
  h1,
.home-section .why-choose-section .why-choose-content h1,
.portfolio-common-section .portfolio-common-content h1,
.pricing-plan-section .pricing-plan-content h1,
.customer-testimonial-section .customer-testimonial-content h1,
.our-team-section .our-team-content h1,
.blog-common-section .blog-common-content h1,
.faq-section .faq-content h1,
.contact-us-section .contact-us-content h1 {
  color: var(--text-color);
}
.home-section .excellent-it-section .excellent-it-content p,
.home-section .services-section .services-section-content p,
.home-section .services-section .services-content-box p,
.home-section .it-services-section .it-services-content p,
.home-section .it-experience-section .it-experience-content p,
.home-section .why-choose-section .why-choose-content p,
.home-section .why-choose-section .why-choose-box-content p,
.portfolio-common-section .portfolio-nav-tabs li,
.pricing-plan-section .pricing-plan-content p,
.pricing-plan-section .pricing-plan-content-box .icon-box svg,
.pricing-plan-section
  .pricing-plan-content-box
  .price-details-content
  h1:nth-child(3),
.pricing-plan-section .pricing-plan-content-box .pricing-details li,
.customer-testimonial-section .customer-testimonial-content p,
.customer-testimonial-section .review-content-box .review-details p,
.our-team-section .our-team-content p,
.our-team-section .our-team-content-box h1:nth-child(3),
.blog-common-section .blog-common-content p,
.blog-common-section .blog-details-box .blog-details .blog-details-top,
.blog-common-section .blog-details-box .blog-details .blog-details-middle p,
.faq-section .faq-content p,
.accordion .accordion-item .accordion-body,
.contact-us-section .contact-us-content p,
.contact-us-section .contact-info-list li span,
.footer-section .copy-right-part p {
  color: var(--paragraph-text-color);
}
.home-section .services-section .services-content-box,
.home-section .it-services-section .it-service-content-box,
.home-section .why-choose-section .why-choose-box,
.pricing-plan-section .pricing-plan-content-box,
.customer-testimonial-section .review-content-box,
.our-team-section .our-team-content-box,
.blog-common-section .blog-details-box {
  background-color: var(--box-color);
  z-index: 1;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.home-section
  .services-section
  .row
  > :not(:nth-child(n + 5))
  .services-content-box {
  margin-bottom: 20px;
}
.home-section .services-section .services-content-box::before,
.home-section .it-services-section .it-service-content-box::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 00%;
  height: 100%;
  background-color: var(--green-hover-color);
  transition: 0.5s;
  z-index: -1;
}
.home-section .services-section .services-content-box:hover::before,
.home-section .it-services-section .it-service-content-box:hover::before {
  width: 100%;
}
.home-section .services-section .services-content-box:hover h1,
.home-section .services-section .services-content-box:hover p,
.home-section .services-section .services-content-box:hover i,
.home-section .services-section .services-content-box:hover a,
.home-section .services-section .services-content-box:hover svg,
.home-section .it-services-section .it-service-content-box:hover i,
.home-section .it-services-section .it-service-content-box:hover h1,
.home-section .it-services-section .it-service-content-box:hover svg {
  color: white;
  transition: 0.4s;
}
.home-section .it-experience-section .it-experience-content .progress {
  height: 0.6rem;
}
.home-section .it-experience-section .it-experience-content .progress-bar {
  background-color: var(--green-hover-color);
  border-radius: 0.375rem;
}
.accordion .accordion-item .accordion-header button {
  padding: 1.5rem;
  background-color: var(--box-color);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: none;
}
.accordion .accordion-item .accordion-body,
.contact-us-section form .contact-us-input-field {
  background-color: var(--box-color);
}

.footer-section {
  background-color: #1c1d1c;
}
.footer-section .footer-part-1 {
  background-color: #202020;
}
.footer-section .footer-part-1 p {
  color: #a2a1a1;
}
.footer-section h1 {
  color: #b6b6b6;
}
.footer-section hr{
  color: #b1b1b1;
  border-top: 1px solid;
  margin: 1.5rem 0rem;
  width: 100%;
}
.footer-section .site-map-part li a,
.footer-section .copy-right-part a {
  color: #ddd;
}
